.App {
  text-align: center;
}

.App-logo {
    height: 130px;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.App-header {
  background-color: #d5ebf0;
  height: 150px;
  padding: 20px;
  color: #222;
}

.App-title {
  font-size: 2em;
  margin-top: 10px;
}

.App-intro {
  font-size: large;
}


.feather {
  position:absolute;
  top:-10px;
  z-index:10;
  animation: fluidDrop 2s;
}

@keyframes fluidDrop {
    from {
        top: 0px;
        left: 5px;
        animation-timing-function: cubic-bezier(0.7, 0.22, 0.725, 0.61);
    }
    13.33% {
        top: 31.79px;
        left: 10px;
        animation-timing-function: cubic-bezier(0.16, 0.1875, 0.24, 0.094);
    }
    23.66% {
        top: 88.3px;
        left: 5px;
        animation-timing-function: cubic-bezier(0.234, 0.15, 0.88, 0.85);
    }
    65% {
        top: 441.5px;
        left: 10px;
        animation-timing-function: linear;
    }
    to {
        top: 800px;
        left: 5px;
    }
}
